.img-container {
    padding: 0 30px 0px 0;
}

.img-spinner {
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 50%;
    /* outline: 2px salmon solid; */
}

@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes spin {
    from {
        --angle: 0deg
    }

    to {
        --angle: 360deg
    }
}

.img-spinner::after,
.img-spinner::before {
    content: '';
    position: absolute;
    background-image: conic-gradient(from var(--angle), green, transparent,  green);
    height: 105%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -48%;
    z-index: -1;
    border-radius: 50%;
    animation: spin 8s linear infinite;
    padding: 5px;
}

.img-spinner::after {
    filter: blur(2rem);
    opacity: 0.8;
}

img {
    height: 105%;
    width: 100%;
    border-radius: 50%;
}

.header {
    outline: 1px solid;
    display: flex;
    flex: 1;
    padding: 20px;
    width: cals(100% - 10px);
    position: relative;
    align-items: center;
}

.links {
    margin: 0 20px;
    align-content: center;
    position: absolute;
    right: 0;
    outline: 1px salmon solid;
}

.footer {
    display: flex;
    outline: 1px red solid;
    position: relative;
    bottom: 10px;
    left: 0;
    width: 100%;
    padding: 3px
}

.card{
    outline: 1px solid;
    text-align: center;
    margin: 30px 0;
    padding: 10px 0;
}

.projects-carousel{
    text-align: center;
}