/* .slide{
    margin: 0;
    padding: 0;
} */

.project{
    /* outline: 1px salmon solid; */
    justify-items: center
}

/* .project-image{
    height:300px;
    width:300px;
    outline:1px white solid
} */